.arma-mark {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0 1.5rem;
  font-weight: 900;
  font-size: 1.4rem;
}

.arma-name {
  margin: 0;
  text-align: right;
}

.arma-balas {
  margin: 0;
  margin-left: .4rem;
  border: .2rem solid var(--colorPri);
  border-radius: .7rem;
  width: 3rem;
  text-align: center;
  padding: .3rem;
}

.arma-btn {
  margin-left: .4rem;
}

.arma-recarga {
  font-size: 1.4rem;
  text-align: right;  
  margin: .2rem 1.5rem 1rem 1.5rem;
}

.arma-recarga span {
  font-weight: 900;
}

.arma-disabled {
  opacity: .3;
}