.form-exterior {
  background: rgba(20, 20, 20, .60);
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
}
.form-dialogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35rem;
  border: .3rem solid var(--colorPri);
  border-radius: 1rem;
  background-color: var(--colorSec);
  padding: 1rem;
}