.form-div-titulo {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.form-seccion {
  font-size: 2.0rem;
  font-weight: 900;
  margin: 0 auto 0 0;
  width: 100%;
}
.form-cerrar {
  width: 3rem;
  height: 3rem;
  margin: 0 0 0 .3rem;
  background-image: url(../assets/icons/close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
  content: '';
}