:root {
  /* fuentes de letra */ 
  --fontTitulos: 'Saira Semi Condensed', sans-serif;;
  --fontGeneral: 'Share Tech Mono', monospace;
  /* colores */
  --colorPri: #222222;
  --colorSec: #afafaf;
  --colorTer: #838383;
  --colorHgl: #0026ff;
  --colorLife100: #ffffff; 
  --colorLife090: #00a724; 
  --colorLife070: #8f8c00;
  --colorLife045: #b37a00;
  --colorLife025: #a73d00;
  --colorLife005: #a70000;
  --colorLife000: #000000;
  --colorShld090: #00aeff; 
  --colorShld070: #0077ff; 
  --colorShld045: #0051ff; 
  --colorShld025: #3600b3; 
  --colorShld005: #000985; 
  --colorShld000: #000000; 
}
/* Imprescindibles */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  position: relative;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fontGeneral);
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 8rem;
}
@media (max-width: 750px) {
  body { 
    font-size: 1.2rem;
    line-height: 1.2;
  }
}

/* Globales */
h1, h2, h3, h4 {
  font-weight: 900;
  font-family: var(--fontTitulos);
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.8rem;
}
@media (max-width: 750px) {
  h1 {
    font-size: 3.1rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.3rem;
  }
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
hr {
  border: .1rem solid var(--colorPri);
  width: 90%;
}

.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}
.btn {
  display: block;
  border: .2rem solid var(--colorPri);
  border-radius: .5rem;
  padding: .3rem 1rem;
}