footer {
  margin-top: 5rem auto 0 auto;
  height: 4rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 2rem;
  height: max-content;
  border-top: .2rem solid var(--colorPri);
  text-align: center;
  background: url(../assets/textura-metal-2.jpg);
  background-size: cover;
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a::before {
  content: '';
  height: 2rem;
  width: 2rem;
  background: url(../assets/icons/github.svg);
  background-position: center;
  background-size: contain;
}

footer a {
  margin-left: .5rem;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--colorPri);
  text-decoration: none;
}